<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <h1>New task</h1>

  <%= render :partial => 'form', :locals => { :task => Task.new, :remote => true } %>

  <tbody id="task-list">
    <%= render @tasks %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
